<?xml version="1.0" encoding="UTF-8"?>
#set( $urlRoot = "http://root-path-to-landsat-products/" )
<rep:metadataReport xmlns:alt="http://www.opengis.net/alt/2.0" xmlns:atm="http://www.opengis.net/atm/2.0" xmlns:eop="http://www.opengis.net/eop/2.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:lmb="http://www.opengis.net/lmb/2.0" xmlns:om="http://www.opengis.net/om/2.0" xmlns:opt="http://www.opengis.net/opt/2.0" xmlns:ows="http://www.opengis.net/ows/2.0" xmlns:rep="http://ngeo.eo.esa.int/schema/metadataReport" xmlns:sar="http://www.opengis.net/sar/2.0" xmlns:stl="http://pisa.intecs.it/stl" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="1.2">
	<rep:reportType>ARCHIVING</rep:reportType>
	<rep:dateTime>$date.get('yyyy-M-d')T$date.get('H:m:s')Z</rep:dateTime>
##This is the replacementHeader
 <rep:replacementHeader>
		<rep:beginDate>$PERIOD_START</rep:beginDate>
		<rep:endDate>$PERIOD_END</rep:endDate>
		<rep:dateType>$INGESTION_TIME</rep:dateType>
		<rep:targetProductType>
			<rep:platformShortName>LS01</rep:platformShortName>
			<rep:instrumentShortName>MSS</rep:instrumentShortName>
			<rep:operationalMode>N/A</rep:operationalMode>
			<rep:productType>$PRODUCT_TYPE</rep:productType>
		</rep:targetProductType>
	</rep:replacementHeader> 
#foreach( $metadata in $metadataList )
<opt:EarthObservation gml:id="ID_$velocityCount">
		<om:phenomenonTime>
			<gml:TimePeriod gml:id="tp_$velocityCount">
				<gml:beginPosition>$metadata.</gml:beginPosition>
				<gml:endPosition>$metadata.</gml:endPosition>
			</gml:TimePeriod>
		</om:phenomenonTime>
		<om:resultTime>
			<gml:TimeInstant gml:id="archivingdate_$velocityCount">
				<gml:timePosition />
			</gml:TimeInstant>
		</om:resultTime>
		<om:procedure>
			<eop:EarthObservationEquipment gml:id="eoe_$velocityCount">
				<eop:platform>
					<eop:Platform>
						<eop:shortName>LS01</eop:shortName>
					</eop:Platform>
				</eop:platform>
				<eop:instrument>
					<eop:Instrument>
						<eop:shortName>ASAR</eop:shortName>
					</eop:Instrument>
				</eop:instrument>
				<eop:sensor>
					<eop:Sensor>
						<eop:sensorType>RADAR</eop:sensorType>
						<eop:operationalMode codeSpace="any:sensorMode">N/A</eop:operationalMode>
						<eop:swathIdentifier>DEFAULT</eop:swathIdentifier>
					</eop:Sensor>
				</eop:sensor>
				<eop:acquisitionParameters>
					<opt:Acquisition>
						<eop:orbitNumber>DEFAULT</eop:orbitNumber>
						<eop:orbitDirection>DEFAULT</eop:orbitDirection>
						<eop:wrsLongitudeGrid codeSpace="">DEFAULT</eop:wrsLongitudeGrid>
						<eop:wrsLatitudeGrid codeSpace="">DEFAULT</eop:wrsLatitudeGrid>
						<eop:startTimeFromAscendingNode uom="ms">DEFAULT</eop:startTimeFromAscendingNode>
						<eop:completionTimeFromAscendingNode uom="ms">DEFAULT</eop:completionTimeFromAscendingNode>
						<eop:illuminationAzimuthAngle>DEFAULT</eop:illuminationAzimuthAngle>
						<eop:illuminationZenithAngle>DEFAULT</eop:illuminationZenithAngle>
						<eop:illuminationElevationAngle>DEFAULT</eop:illuminationElevationAngle>
					</opt:Acquisition>
				</eop:acquisitionParameters>
			</eop:EarthObservationEquipment>
		</om:procedure>
		<om:observedProperty nilReason="inapplicable" />
		<om:featureOfInterest>
			<eop:Footprint gml:id="fp_$velocityCount">
				<eop:multiExtentOf>
					<gml:MultiSurface gml:id="ms_$velocityCount" srsName="EPSG:4326">
						<gml:surfaceMembers>
							<gml:Polygon gml:id="fppoly_3">
								<gml:exterior>
									<gml:LinearRing>
										<gml:posList>$BOUNDING_POLYGON</gml:posList>
									</gml:LinearRing>
								</gml:exterior>
							</gml:Polygon>
						</gml:surfaceMembers>
					</gml:MultiSurface>
				</eop:multiExtentOf>
			</eop:Footprint>
		</om:featureOfInterest>
		<om:result>
			<opt:EarthObservationResult gml:id="eor_$velocityCount">
				<eop:product>
					<eop:ProductInformation>
						<eop:fileName>
							<ows:ServiceReference xlink:href="$urlRoot${metadata.PRODUCT_ID}.zip">
								<ows:RequestMessage />
							</ows:ServiceReference>
						</eop:fileName>
						<eop:size>SIZE</eop:size>
					</eop:ProductInformation>
				</eop:product>
				<opt:cloudCoverPercentage uom="%">DEFAULT</opt:cloudCoverPercentage>
				<opt:cloudCoverPercentage uom="%">DEFAULT</opt:cloudCoverPercentage>
			</opt:EarthObservationResult>
		</om:result>
		<eop:metaDataProperty>
			<eop:EarthObservationMetaData>
				<eop:identifier>$PRODUCT_ID</eop:identifier>
				<eop:acquisitionType>DEFAULT</eop:acquisitionType>
				<eop:acquisitionSubType>DEFAULT</eop:acquisitionSubType>
				<eop:productType>$PRODUCT_TYPE</eop:productType>
				<eop:status />
				<eop:imageQualityDegradation uom="%">DEFAULT</eop:imageQualityDegradation>
				<eop:imageQualityStatus>DEFAULT</eop:imageQualityStatus>
				<eop:imageQualityDegradationTag>DEFAULT</eop:imageQualityDegradationTag>
				<eop:imageQualityReportURL>DEFAULT</eop:imageQualityReportURL>
				<eop:processing>
					<eop:ProcessingInformation>
						<eop:processingMode>PROCESSING_MODE</eop:processingMode>
					</eop:ProcessingInformation>
				</eop:processing>
				<eop:productGroupId>DEFAULT</eop:productGroupId>
				<eop:vendorSpecific>
					<eop:SpecificInformation>
						<eop:localAttribute>pippo</eop:localAttribute>
						<eop:localValue>PIPPO</eop:localValue>
					</eop:SpecificInformation>
				</eop:vendorSpecific>
				<eop:vendorSpecific>
					<eop:SpecificInformation>
						<eop:localAttribute>pluto</eop:localAttribute>
						<eop:localValue>PLUTO</eop:localValue>
					</eop:SpecificInformation>
				</eop:vendorSpecific>
			</eop:EarthObservationMetaData>
		</eop:metaDataProperty>
	</opt:EarthObservation>
#end
</rep:metadataReport>
