#macro ( getMetadata $e $indent )   
  #if( $e.getChildren().size() > 0 )
  $indent <$e.getQualifiedName()#foreach($namespace in $e.getNamespacesIntroduced()) xmlns:$namespace.getPrefix()="$namespace.getURI()"#end#foreach($attribute in $e.getAttributes()) #if($attribute.getNamespacePrefix()!='')$attribute.getNamespacePrefix():#end$attribute.getName()="$attribute.getValue().replaceAll("&","&amp;")"#end> 
  #foreach ($child in $e.getChildren() ) 
  #getMetadata( $child "$indent  " )
  #end
  $indent </$e.getQualifiedName()>
  #else
  $indent <$e.getQualifiedName()#foreach($namespace in $e.getNamespacesIntroduced()) xmlns:$namespace.getPrefix()="$namespace.getURI()"#end#foreach($attribute in $e.getAttributes()) #if($attribute.getNamespacePrefix()!='')$attribute.getNamespacePrefix():#end$attribute.getName()="$attribute.getValue().replaceAll("&","&amp;")"#end>$e.getTextTrim().replaceAll("&","&amp;")</$e.getQualifiedName()>
  #end
#end

#macro ( getShortName $e)   
#if( $e.getChildren().size() > 0 )
#foreach ($child in $e.getChildren() ) 
#getShortName( $child )
#end
#else
#if ($e.getName() == 'shortName')$e.getTextTrim()#end
#end
#end

#macro ( getIdentifier $e)   
#if( $e.getChildren().size() > 0 )
#foreach ($child in $e.getChildren() ) 
#getIdentifier( $child )
#end
#else
#if ($e.getName() == 'identifier')$e.getTextTrim()#end
#end
#end


#macro ( recursive $e)   
#if( $e.getChildren().size() > 0 )
    #if ( $e.getName() == 'Platform' )
        <field name="platformShortName">#foreach($child in $e.getChildren())#getShortName($child)#end</field>
    #elseif ( $e.getName() == 'Instrument' )
        <field name="instrument">#foreach($child in $e.getChildren())#getShortName($child)#end</field>
    #else
        #foreach($child in $e.getChildren()) 
        #recursive( $child )
        #end
    #end
#else
#if ($e.getName() == 'posList')
    <field name="$e.getName()">POLYGON(($coordinates.adjustCoordinatesForSolr($e.getTextTrim())))</field>
    <field name="posListOrig">$e.getTextTrim()</field>
#elseif ( $e.getName() == 'operationalMode')
    <field name="sensorMode">$e.getTextTrim()</field>
#elseif ( $e.getName() == 'discreteWavelengths')
    <field name="wavelengths">$e.getTextTrim()</field>
#elseif ( $e.getName() == 'cloudCoverPercentage')
    <field name="cloudCover">$e.getTextTrim()</field>
#elseif ( $e.getName() == 'snowCoverPercentage')
    <field name="snowCover">$e.getTextTrim()</field>
#elseif ( $e.getName() == 'serialIdentifier')
    <field name="platformSerialIdentifier">$e.getTextTrim()</field>
#elseif ( $e.getName() == 'status')
    <field name="productionStatus">$e.getTextTrim()</field>
#elseif ( $e.getName() == 'wrsLongitudeGrid')
    <field name="track">$e.getTextTrim()</field>
#elseif ( $e.getName() == 'wrsLatitudeGrid')
    <field name="frame">$e.getTextTrim()</field>
#elseif ( $e.getName() == 'operationalMode')
    <field name="sensorMode">$e.getTextTrim()</field>
#elseif ( $e.getName() == 'timePosition')
    <field name="availabilityTime">$e.getTextTrim()</field>
#elseif (         $e.getName() == 'beginPosition' || 
                  $e.getName() == 'endPosition' || 
                  $e.getName() == 'resolution' || 
                  $e.getName() == 'productType' || 
                  $e.getName() == 'imageQualityDegradation' || 
                  $e.getName() == 'acquisitionType' || 
                  $e.getName() == 'acquisitionSubType' || 
                  $e.getName() == 'orbitDirection' || 
                  $e.getName() == 'orbitNumber' || 
                  $e.getName() == 'acquisitionStation' || 
                  $e.getName() == 'lastOrbitNumber' || 
                  $e.getName() == 'productQualityDegradation' || 
                  $e.getName() == 'productQualityDegradationTag' || 
                  $e.getName() == 'archivingCenter' || 
                  $e.getName() == 'sensorType' || 
                  $e.getName() == 'sensorOperationalMode' || 
                  $e.getName() == 'swathIdentifier' || 
                  $e.getName() == 'polarisationMode' || 
                  $e.getName() == 'polarisationChannels' || 
                  $e.getName() == 'minimumIncidenceAngle' || 
                  $e.getName() == 'maximumIncidenceAngle' ||
                  $e.getName() == 'parentIdentifier' ||
                  $e.getName() == 'compositeType' ||
                  $e.getName() == 'processingLevel' ||
                  $e.getName() == 'orbitType' ||
                  $e.getName() == 'spectralRange' ||
                  $e.getName() == 'swathIdentifier' ||
                  $e.getName() == 'processorName' ||
                  $e.getName() == 'processingCenter' ||
                  $e.getName() == 'processingDate' ||
                  $e.getName() == 'processingMode' ||
                  $e.getName() == 'startTimeFromAscendingNode' ||
                  $e.getName() == 'completionTimeFromAscendingNode' ||
                  $e.getName() == 'illuminationAzimuthAngle' ||
                  $e.getName() == 'illuminationZenithAngle' ||
                  $e.getName() == 'illuminationElevationAngle' ||
                  $e.getName() == 'antennaLookDirection' ||
                  $e.getName() == 'dopplerFrequency' ||
                  $e.getName() == 'incidenceAngleVariation' ||
                  $e.getName() == '')
    <field name="$e.getName()">$e.getTextTrim()</field>
#end
#end
#end
<add>
    <doc>
        <field name="id">#getIdentifier($metadataDocument.getRootElement())</field>
#recursive( $metadataDocument.getRootElement() )        
        <field name="metadataOrig">
<![CDATA[#set($i = " ")#getMetadata( $metadataDocument.getRootElement() $i)]]>
</field>
    </doc>
</add>