#macro ( recursive $e $indent )   
  #if( $e.getChildren().size() > 0 )
  $indent <$e.getQualifiedName()#foreach($namespace in $e.getNamespacesIntroduced()) xmlns:$namespace.getPrefix()="$namespace.getURI()"#end#foreach($attribute in $e.getAttributes()) #if($attribute.getNamespacePrefix()!='')$attribute.getNamespacePrefix():#end$attribute.getName()="$attribute.getValue()"#end> 
  #foreach ($child in $e.getChildren() ) 
  #recursive( $child "$indent  " )
  #end
  $indent </$e.getQualifiedName()>
  #else
  $indent <$e.getQualifiedName()#foreach($namespace in $e.getNamespacesIntroduced()) xmlns:$namespace.getPrefix()="$namespace.getURI()"#end#foreach($attribute in $e.getAttributes()) #if($attribute.getNamespacePrefix()!='')$attribute.getNamespacePrefix():#end$attribute.getName()="$attribute.getValue()"#end>$e.getTextTrim()</$e.getQualifiedName()>
  #end
#end
<?xml version="1.0" encoding="UTF-8"?> 
<atom:feed xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:atom="http://www.w3.org/2005/Atom" 
xmlns:opensearch="http://a9.com/-/spec/opensearch/1.1/"
xmlns:georss="http://www.georss.org/georss"
xmlns:dc="http://purl.org/dc/elements/1.1/"
xmlns:gml="http://www.opengis.net/gml">
    <opensearch:totalResults>$OPEN_SEARCH_NUMBER_OF_RESULTS</opensearch:totalResults> 
    <opensearch:startIndex>$OPEN_SEARCH_START_INDEX</opensearch:startIndex> 
    <opensearch:itemsPerPage>$OPEN_SEARCH_ITEMS_PER_PAGE</opensearch:itemsPerPage> 
    <opensearch:Query role="request" searchTerms="" startPage="1"/> 
    <atom:author> 
        <atom:name>openCatalogue Server</atom:name> 
    </atom:author> 
    <atom:generator>openCatalogue Server</atom:generator> 
    <atom:id>$OPEN_SEARCH_REQUEST</atom:id> 
    <atom:title>openCatalogue Server - EO Product Search Response</atom:title> 
    <atom:updated>$date.get('yyyy-M-d')T$date.get('H:m:s')Z</atom:updated> 

    <link href="${BASE_URL}/opensearch/service/$selfQuery" rel="self" type="application/atom+xml"/>
    <link href="${BASE_URL}/opensearch/service/$firstQuery" rel="first" type="application/atom+xml"/>
    <link href="${BASE_URL}/opensearch/service/$nextQuery" rel="next" type="application/atom+xml"/>
    <link href="${BASE_URL}/opensearch/service/$lastQuery" rel="last" type="application/atom+xml"/>
    <link href="${BASE_URL}/opensearch/description.xml" rel="search" type="application/opensearchdescription+xml"/>
#foreach( $metadata in $metadataList )
    <atom:entry> 
        <atom:id>$metadata.identifier</atom:id>
        <atom:title>$metadata.identifier</atom:title> 
	<dc:identifier>$metadata.identifier</dc:identifier>
        <atom:published>$date.get('yyyy-M-d')T$date.get('H:m:s')Z</atom:published> 
        <atom:updated>$date.get('yyyy-M-d')T$date.get('H:m:s')Z</atom:updated> 
	<dc:date>$date.get('yyyy-M-d')T$date.get('H:m:s')Z</dc:date>
        <atom:link href="${BASE_URL}/opensearch/atom?id=$metadata.identifier" rel="alternate" type="application/atom+xml" title="URL for retrieving the ATOM of the product: $metadata.identifier"/> 	
        <georss:where>
		<gml:Polygon>
			<gml:exterior>
				<gml:LinearRing>
					<gml:posList srsDimension="2">$metadata.polygon</gml:posList>
				</gml:LinearRing>
			</gml:exterior>
		</gml:Polygon>
	</georss:where>
        <link href="${BASE_URL}eoproduct?id=$metadata.identifier" rel="alternate" type="application/gml+xml" title="URL for retrieving metadata of the product: $metadata.identifier"/>
##set($i = " ")#recursive( $metadata.metadataDocument.getRootElement() $i )        
    </atom:entry> 
#end
</atom:feed>