#macro ( recursive $e $indent )   
  #if( $e.getChildren().size() > 0 )
  $indent <$e.getQualifiedName()#foreach($namespace in $e.getNamespacesIntroduced()) xmlns:$namespace.getPrefix()="$namespace.getURI()"#end#foreach($attribute in $e.getAttributes()) #if($attribute.getNamespacePrefix()!='')$attribute.getNamespacePrefix():#end$attribute.getName()="$attribute.getValue()"#end> 
  #foreach ($child in $e.getChildren() ) 
  #recursive( $child "$indent  " )
  #end
  $indent </$e.getQualifiedName()>
  #else
  $indent <$e.getQualifiedName()#foreach($namespace in $e.getNamespacesIntroduced()) xmlns:$namespace.getPrefix()="$namespace.getURI()"#end#foreach($attribute in $e.getAttributes()) #if($attribute.getNamespacePrefix()!='')$attribute.getNamespacePrefix():#end$attribute.getName()="$attribute.getValue()"#end>$e.getTextTrim()</$e.getQualifiedName()>
  #end
#end
<?xml version="1.0" encoding="UTF-8"?> 
<atom:feed xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:atom="http://www.w3.org/2005/Atom" 
xmlns:opensearch="http://a9.com/-/spec/opensearch/1.1/"
xmlns:georss="http://www.georss.org/georss"
xmlns:dc="http://purl.org/dc/elements/1.1/"
xmlns:gml="http://www.opengis.net/gml">
    <opensearch:totalResults>$OPEN_SEARCH_NUMBER_OF_RESULTS</opensearch:totalResults> 
    <opensearch:startIndex>$OPEN_SEARCH_START_INDEX</opensearch:startIndex> 
    <opensearch:itemsPerPage>$OPEN_SEARCH_ITEMS_PER_PAGE</opensearch:itemsPerPage> 
    <opensearch:Query role="request" searchTerms="" startPage="1"/> 
    <atom:author><atom:name>openCatalogue Server</atom:name></atom:author> 
    <atom:generator>openCatalogue Server</atom:generator> 
    <atom:id>$OPEN_SEARCH_REQUEST</atom:id> 
    <atom:title>openCatalogue Server - EO Product Search Response</atom:title> 
    <atom:updated>$date.get('yyyy-M-d')T$date.get('H:m:s')Z</atom:updated> 
    <link href="${BASE_URL}/opensearch/service/$selfQuery" rel="self" type="application/atom+xml"/>
    <link href="${BASE_URL}/opensearch/service/$firstQuery" rel="first" type="application/atom+xml"/>
    <link href="${BASE_URL}/opensearch/service/$nextQuery" rel="next" type="application/atom+xml"/>
    <link href="${BASE_URL}/opensearch/service/$lastQuery" rel="last" type="application/atom+xml"/>
    <link href="${BASE_URL}/opensearch/description.xml" rel="search" type="application/opensearchdescription+xml"/>
#foreach( $metadata in $metadataList )
    <atom:entry> 
        <atom:id>$metadata.identifier</atom:id>
        <atom:title>$metadata.identifier</atom:title> 
	<dc:identifier>$metadata.identifier</dc:identifier>
        <atom:published>$date.get('yyyy-M-d')T$date.get('H:m:s')Z</atom:published> 
        <atom:summary type="html"><![CDATA[
        <table><tr><td valign="top"><table>
				<tr valign="top"><td><b>Platform Short Name</b></td><td>TX01</td></tr>
				<tr valign="top"><td><b>Platform Serial Identifier</b></td><td>1</td></tr>
				<tr valign="top"><td><b>Platform Orbit Type</b></td><td>LEO</td></tr>
				<tr valign="top"><td><b>Instrument Short Name</b></td><td>SAR</td></tr>
				<tr valign="top"><td><b>Sensor Type</b></td><td>RADAR</td></tr>
				<tr valign="top"><td><b>Sensor Operational Mode</b></td><td>SAR_SC_</td></tr>
				<tr valign="top"><td><b>Sensor Resolution</b></td><td>18.5</td></tr>
				<tr valign="top"><td><b>Swath Identifier</b></td><td>scan_010</td></tr>
				<tr><td><b>Media Type</b></td><td><a href="http://geo.spacebel.be/opensearch/request/?httpAccept=application/atom%2Bxml&amp;subject=urn%3Aeop%3ADLR%3AEOWEB%3ATSX-1.SAR.L1b-ScanSAR&amp;uid=urn%3Aeop%3ADLR%3AEOWEB%3ATSX-1.SAR.L1b-ScanSAR%3A%2Fdims_nz_pl_dfd_XXXXB00000000160211714631%2Fdims_op_pl_dfd_%2F%2FTSX-1.SAR.L0" title="Atom format">ATOM</a></td></tr><tr>
				<td><b>Metadata</b></td>
				<td><a href="http://geo.spacebel.be/opensearch/request/?httpAccept=application/gml%2Bxml&amp;subject=urn%3Aeop%3ADLR%3AEOWEB%3ATSX-1.SAR.L1b-ScanSAR&amp;uid=urn%3Aeop%3ADLR%3AEOWEB%3ATSX-1.SAR.L1b-ScanSAR%3A%2Fdims_nz_pl_dfd_XXXXB00000000160211714631%2Fdims_op_pl_dfd_%2F%2FTSX-1.SAR.L0&amp;recordSchema=om" title="O&amp;M format">O&amp;M</a></td></tr>
        </table></td><td valign="top"><table>
				<tr valign="top"><td><b>Orbit Number</b></td><td>3511</td></tr>
				<tr valign="top"><td><b>Orbit Direction</b></td><td>ASCENDING</td></tr>
				<tr valign="top"><td><b>Start Date</b></td><td>2008-02-01T09:26:08.641</td></tr>
				<tr valign="top"><td><b>End Date</b></td><td>2008-02-01T09:27:20.548</td></tr>
			</table></td></tr></table>]]></atom:summary>
        <atom:updated>$date.get('yyyy-M-d')T$date.get('H:m:s')Z</atom:updated> 
	<dc:date>$date.get('yyyy-M-d')T$date.get('H:m:s')Z</dc:date>
        <atom:link href="${BASE_URL}/opensearch/atom?id=$metadata.identifier" rel="alternate" type="application/atom+xml" title="URL for retrieving the ATOM of the product: $metadata.identifier"/> 	
        <georss:where>
		<gml:Polygon>
			<gml:exterior>
				<gml:LinearRing>
					<gml:posList srsDimension="2">$metadata.polygon</gml:posList>
				</gml:LinearRing>
			</gml:exterior>
		</gml:Polygon>
	</georss:where>
        <link href="${BASE_URL}eoproduct?id=$metadata.identifier" rel="alternate" type="application/gml+xml" title="URL for retrieving metadata of the product: $metadata.identifier"/>
##set($i = " ")#recursive( $metadata.metadataDocument.getRootElement() $i )        
    </atom:entry> 
#end
</atom:feed>