#macro ( getMetadata $e $indent )   
  #if( $e.getChildren().size() > 0 )
  $indent <$e.getQualifiedName()#foreach($namespace in $e.getNamespacesIntroduced()) xmlns:$namespace.getPrefix()="$namespace.getURI()"#end#foreach($attribute in $e.getAttributes()) #if($attribute.getNamespacePrefix()!='')$attribute.getNamespacePrefix():#end$attribute.getName()="$attribute.getValue()"#end> 
  #foreach ($child in $e.getChildren() ) 
  #getMetadata( $child "$indent  " )
  #end
  $indent </$e.getQualifiedName()>
  #else
  $indent <$e.getQualifiedName()#foreach($namespace in $e.getNamespacesIntroduced()) xmlns:$namespace.getPrefix()="$namespace.getURI()"#end#foreach($attribute in $e.getAttributes()) #if($attribute.getNamespacePrefix()!='')$attribute.getNamespacePrefix():#end$attribute.getName()="$attribute.getValue()"#end>$e.getTextTrim()</$e.getQualifiedName()>
  #end
#end

#macro ( recursive $e)   
#if( $e.getChildren().size() > 0 )
#foreach ($child in $e.getChildren() ) 
#recursive( $child )
#end
#else
#if ($e.getName() == 'posList')
            <field name="$e.getName()">POLYGON(($coordinates.adjustCoordinatesForSolr($e.getTextTrim())))</field>
            <field name="posListOrig">$e.getTextTrim()</field>
#elseif ( $e.getName() == 'parentIdentifier' ||
      $e.getName() == 'multiExtentOf' || 
      $e.getName() == 'beginPosition' || 
      $e.getName() == 'endPosition' || 
      $e.getName() == 'imageQualityDegradation' || 
      $e.getName() == 'acquisitionType' || 
      $e.getName() == 'acquisitionSubType' || 
      $e.getName() == 'orbitDirection' || 
      $e.getName() == 'Status' || 
      $e.getName() == 'orbitNumber' || 
      $e.getName() == 'productType' || 
      $e.getName() == 'acquisitionStation' || 
      $e.getName() == 'lastOrbitNumber' || 
      $e.getName() == 'archivingCenter' || 
      $e.getName() == 'instrumentShortName' || 
      $e.getName() == 'platformSerialIdentifier' || 
      $e.getName() == 'shortName' || 
      $e.getName() == 'sensorType' || 
      $e.getName() == 'sensorOperationalMode' || 
      $e.getName() == 'sensorResolution' || 
      $e.getName() == 'swathIdentifier' || 
      $e.getName() == 'cloudCoverPercentage' || 
      $e.getName() == 'snowCoverPercentage' || 
      $e.getName() == 'polarisationMode' || 
      $e.getName() == 'polarisationChannel' || 
      $e.getName() == 'minimumIncidenceAngle' || 
      $e.getName() == 'maximumIncidenceAngle' || 
      $e.getName() == '')
            <field name="$e.getName()">$e.getTextTrim()</field>
#end
#end
#end
<?xml version="1.0" encoding="UTF-8"?> 
<add>
    <doc>
        <field name="id">$KEY</field>
#recursive( $metadataDocument.getRootElement() )        
        <field name="metadataOrig">
<![CDATA[
#getMetadata( $metadataDocument.getRootElement() )
]]>
        </field>

    </doc>
</add>