<?xml version="1.0" encoding="UTF-8"?>
<sar:EarthObservation xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:opt="http://www.opengis.net/opt/2.0" xmlns:atm="http://www.opengis.net/atm/2.0" xmlns:ows="http://www.opengis.net/ows/2.0" xmlns:sar="http://www.opengis.net/sar/2.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:lmb="http://www.opengis.net/lmb/2.0" xmlns:rep="http://ngeo.eo.esa.int/schema/metadataReport" xmlns:stl="http://pisa.intecs.it/stl" xmlns:alt="http://www.opengis.net/alt/2.0" xmlns:eop="http://www.opengis.net/eop/2.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:om="http://www.opengis.net/om/2.0"  gml:id="ID_$KEY">
    <om:phenomenonTime>
        <gml:TimePeriod gml:id="tp_$KEY">
            <gml:beginPosition>#if( $metadata.BEGIN_DATE != '' )$metadata.BEGIN_DATE#end</gml:beginPosition>
            <gml:endPosition>#if( $metadata.END_DATE != '' )$metadata.END_DATE#end</gml:endPosition>
        </gml:TimePeriod>
    </om:phenomenonTime>
    <om:resultTime>
        <gml:TimeInstant gml:id="archivingdate_$KEY">
            <gml:timePosition>2012-12-06T10:20:41.960Z</gml:timePosition>
        </gml:TimeInstant>
    </om:resultTime>
    <om:procedure>
        <eop:EarthObservationEquipment gml:id="eoe_$KEY">
            <eop:platform>
                <eop:Platform>
                    <eop:shortName>#if( $metadata.PLATFORM_ID != '' )$metadata.PLATFORM_ID#end</eop:shortName>
                </eop:Platform>
            </eop:platform>
            <eop:instrument>
                <eop:Instrument>
                    <eop:shortName>ASAR</eop:shortName>
                </eop:Instrument>
            </eop:instrument>
            <eop:sensor>
                <eop:Sensor>
                    <eop:sensorType>RADAR</eop:sensorType>
                    <eop:operationalMode codeSpace="any:sensorMode">NA</eop:operationalMode>
                    <eop:swathIdentifier>#if( $metadata.SWATH_ID != '' )$metadata.SWATH_ID#end</eop:swathIdentifier>
                </eop:Sensor>
            </eop:sensor>
            <eop:acquisitionParameters>
                <sar:Acquisition>
                    <eop:orbitNumber>#if( $metadata.ORBIT != '' )$metadata.ORBIT#end</eop:orbitNumber>
                    <eop:orbitDirection>#if($metadata.ORBIT_DIRECTION ==0)ASCENDING#{else}DESCENDING#end</eop:orbitDirection>
                    <sar:polarisationMode>S</sar:polarisationMode>
                    <sar:polarisationChannels>HH</sar:polarisationChannels>
                </sar:Acquisition>
            </eop:acquisitionParameters>
        </eop:EarthObservationEquipment>
    </om:procedure>
    <om:observedProperty nilReason="inapplicable"/>
    <om:featureOfInterest>
        <eop:Footprint gml:id="fp_$KEY">
            <eop:multiExtentOf>
                <gml:MultiSurface gml:id="ms_$KEY" srsName="EPSG:4326">
                    <gml:surfaceMembers>
                        <gml:Polygon gml:id="fppoly_$KEY">
                            <gml:exterior>
                                <gml:LinearRing>
                                    <gml:posList>$metadata.BOUNDING_POLYGON.replaceAll(","," ")</gml:posList>
                                </gml:LinearRing>
                            </gml:exterior>
                        </gml:Polygon>
                    </gml:surfaceMembers>
                </gml:MultiSurface>
            </eop:multiExtentOf>
        </eop:Footprint>
    </om:featureOfInterest>
    <om:result>
        <sar:EarthObservationResult gml:id="eor_$KEY">
            <eop:product>
                <eop:ProductInformation>
                    <eop:fileName>
                        <ows:ServiceReference xlink:href="$urlRoot${metadata.PRODUCT_ID}.zip">
                            <ows:RequestMessage/>
                        </ows:ServiceReference>
                    </eop:fileName>
                </eop:ProductInformation>
            </eop:product>
        </sar:EarthObservationResult>
    </om:result>
    <eop:metaDataProperty>
        <eop:EarthObservationMetaData>
            <eop:identifier>#if( $metadata.PRODUCT_ID != '' )$metadata.PRODUCT_ID#end</eop:identifier>
            <eop:acquisitionType>NOMINAL</eop:acquisitionType>
            <eop:acquisitionSubType>DEFAULT</eop:acquisitionSubType>
            <eop:productType>#if( $metadata.PRODUCT_TYPE != '' )$metadata.PRODUCT_TYPE#end</eop:productType>
            <eop:status>ARCHIVED</eop:status>
            <eop:processing>
                <eop:ProcessingInformation>
                    <eop:processingMode>OTHER</eop:processingMode>
                </eop:ProcessingInformation>
            </eop:processing>
        </eop:EarthObservationMetaData>
    </eop:metaDataProperty>
</sar:EarthObservation>
